extends ../layout

block scripts
    script(src='/socket.io/socket.io.js')

block layout-content

  div.container
    br

    form#frmCreate.form-horizontal(method='POST', action='#', accept-charset='UTF-8')
      .row
        .col-xs-12.col-sm-6
          .form-group
            label.control-label(for='local_team') Local
            select#local_team.form-control(name='local_team')
              option
        .col-xs-12.col-sm-6
          .form-group
            label.control-label(for='visitor_team') Visitante
            select#visitor_team.form-control(name='visitor_team')
              option
      .row
        .col-xs-12.col-sm-8
          .form-group
            button.btn.btn-primary(name='submit', type='submit', title='Guardar')
              i.fas.fa-save(aria-hidden='true')
              |  Guardar

    div#listTournaments.jumbotron

    script.
      getTeams(); 
      getData(); 
      $(function () {
        var socket = io();
        socket.on('updateTournamentResult', function(tr){
          var match = $('.row-match#'+tr._id);
          match.find('.currentTime').html(tr.current_time);
          match.find('.goalLocal').html(tr.local_goals);
          match.find('.goalVisitor').html(tr.visitor_goals);
        });
        socket.on('insertTournamentResult', function(tr){
          addRow(tr, false);
        });

        $('#frmCreate').submit(function(e) {
          e.preventDefault();
          fetch('tournament_results/create', {
            method:  'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
              local_team:   $('#local_team').val(), 
              visitor_team: $('#visitor_team').val(),
              local_goals:  0,
              visitor_goals:0,
              is_playing:   true,
              current_time: 0
            })
          });
        });
      });

      //Deshabilitar equipo en el select visitor_team
      $('select#local_team').change(async function(){
        $("select#visitor_team option").removeAttr('disabled');
        var valSel = $(this).find('option:selected').val();
        $('select#visitor_team option[value='+valSel+']').attr('disabled','disabled');
      });
      $('select#visitor_team').change(async function(){
        $("select#local_team option").removeAttr('disabled');
        var valSel = $(this).find('option:selected').val();
        $('select#local_team option[value='+valSel+']').attr('disabled','disabled');
      });

      function addRow(data, append=true){
        var rowHtml = `<div class="row row-match justify-content-center pb-3" id="${data._id}">
            <div class="col col-xs-2 text-center align-middle">
              <img src="${data.local_team.shield}" width="70px"/><br>
              ${data.local_team.name}
            </div>
            <div class="col-xs-auto text-center align-middle">
              <h2><span class="goalLocal">${data.local_goals}</span> - <span class="goalVisitor">${data.visitor_goals}</span></h2>
              <h4>min. <span class="currentTime">${data.current_time}</span></h4>
              <h6><span class="badge badge-`+(data.is_playing ? 'success">en vivo' : 'secondary">finalizado')+`</span></h6>
            </div>
            <div class="col col-xs-2 text-center align-middle">
              <img src="${data.visitor_team.shield}" width="70px"/><br>
              ${data.visitor_team.name}
            </div>
          </div>`;
        if(append)
          $('#listTournaments').append(rowHtml);
        else
          $('#listTournaments').prepend(rowHtml);
      }
      function getData(){
        $.get('tournament_results/get', (data) => {
          data.forEach(addRow);
        });
      }
      function getTeams(){
        $.get('/teams/get', (data) => {
          data.forEach(function(team){
            $('#local_team').append(`<option value=${team._id}>${team.name}</option>`)
            $('#visitor_team').append(`<option value=${team._id}>${team.name}</option>`)
          });
        });
      }
    
  hr
  footer
  .container
    div(align='center')
      | Uniajc